<%- include('../partials/header'); -%>
<div class="row">
    <div class="col-md-6 offset-md-3">
        <h3 class="text-center">Sign Up</h3>

        <form method="post" action="/signup">

            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" class="form-control" id="name" aria-describedby="nameHelp"
                       placeholder="Enter name">
            </div>
            <div class="form-group">
                <label for="exampleInputEmail1">Email address</label>
                <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                       placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">This email will be used to login.</small>
            </div>
            <div class="form-group">
                <label for="exampleInputPassword1">Password</label>
                <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
            </div>


            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="/signin" class="btn btn-secondary ml-3" role="button">Sign In</a>

        </form>


    </div>
</div>

<%- include('../partials/footer'); -%>
